/*-------------------------------------------------
INVOICE
-------------------------------------------------*/

#invoice, #content {
  background-color: #FEF7C1;
}



table.invoice_table thead {
  background-color: #DAE899;
  color: #9B8669;
  font-weight: bold;
}

table#invoice_calcs tr.hilite {
  color: #9B8669;
  background-color: #DAE899;
}

#invoice_state_indicator {
  background-color: #DAE899;
  color: #FFF;
}

#invoice .overdue {
  border: 2px solid #FFF;
}
