/*-------------------------------------------------
INVOICE
-------------------------------------------------*/

body {
  background-color: #E9999A;
}

#sidebar {
  background-color: #FFBDBE;
}

table.invoice_table thead {
  background-color: #B07474;
  color: #FFF;
  font-weight: bold;
}

table#invoice_calcs tr.hilite {
  color: #FFF;
  background-color: #B07474;
}

#invoice_state_indicator {
  background-color: #B07474;
  color: #FFF;
}

#invoice .overdue {
  border: 2px solid #FEF7C1;
}
