<%= @account.today_timezone_date %>

You have successfully downgraded to Fluttervoice <%= @account.plan.name %>.

Your credit card will no longer be charged for the next billing cycles.

Please print this page as confirmation of your subscription. To cancel your account entirely, please go to your account page (after logging in), where you will be able to cancel.

Enjoy
Joerg

Go to Fluttervoice's home page:
http://<%= @home_url %>
