<p>This invoice was sent using <%= @app_config['app_name'] %> - a beautiful simple invoicing system for freelancers<br/>
and small businesses. Check it out at <a href="http://www.<%= @app_config['domain'] %>">www.<%= @app_config['domain'] %></a></p>
