<%= @message.gsub(/\n/, '<br/>') %>

<hr />
<%= render :partial => "invoice_mailer/html_summary_link" %>
<hr />
<% if @account.plan.free? %><%= render :partial => 'invoice_mailer/html_fluttervoice_link' %><% end -%>
