<% @invoice.client.contacts.each do |contact| %>
  <%= check_box_tag "thankyouto[#{contact.id}][send]", 1, true, :id => "thankyouto_#{contact.id}_send" %><%=h contact.firstname %> <%=h contact.lastname %>&nbsp;
<% end %>
<br/><%= check_box_tag "thankyouto[#{current_user.id}][send]", 1, true, :id => "thankyouto_#{current_user.id}_send" %>Send me a copy as well
