<div id="content">

  <h2>Please choose your <%= @app_config['app_name'] %> plan. Upgrade to a paid plan when you need to.</h2>
  
  <%= render :partial => "plans" %>
  
  <div id="big-spacer"></div>

</div>
