<div id="content">

  <h2>Please choose your <%= @app_config['app_name'] %> plan. You can always upgrade, or cancel later.</h2>
  
  <%= render :partial => "plans" %>
  
  <div id="big-spacer"></div>

</div>
