<h2><% if @account.plan.cost(@app_config['site']) < @plan.cost(@app_config['site']) %>Upgrade<% else %>Downgrade<% end %> Your Account</h2>
<p><strong>For your security</strong>, you have been taken back to the main <%= @app_config['app_name'] %> site to be able to process your request securely.</p>
<p>Please also be aware, that any upgrades or downgrades to your account are <strong>effective immediately</strong>. This should feel natural if you're upgrading. But if you're downgrading, it's probably better to downgrade closer to your next billing cycle, as your invoice limit will decrease immediately. <strong>You have <%=h @account.days_left_in_cycle %> days</strong> left in your current billing cycle.</p>
<p>The current plan for your account (<strong><%=h @account.name %></strong>) is <%= @app_config['app_name'] %> <%=h @account.plan.name %>. <strong>You are <% if @account.plan.cost(@app_config['site']) < @plan.cost(@app_config['site']) %>upgrading<% else %>downgrading<% end %> to <%= @app_config['app_name'] %> <%=h @plan.name %>.</strong></p>
