<fieldset>
	<p>So, to summarize: <%= @plan.summary(@app_config['site']) %></p>
	<%= check_box_tag :i_agree, "1", false, :onclick => "$('change_plan').disabled = !this.checked;" %> Yes, I understand that this change is immediate.
	<% if !@plan.free? %> And that my credit card will be charged immediately with <%= @plan.display_currency_cost(@app_config['site']) %>, and then on a monthly basis. <% end %>

	<div class="message">Note: Your credit card statement will reflect payments coming from: <h3>These Lovely Days</h3></div>
</fieldset>