<div id="sidebar">
</div>

<div id="content">

  <%= render_cancel_button %>

  <%= render :partial => "blurb" %>
  <%= render :partial => "new_plan" %>

  <%= render :partial => "review" %>
  <%= render :partial => "form" %>
  
</div>
