<ul id="actions">
  <li><%= link_to "Delete client", { :action => "delete", :id => @client.id }, :post => true, :title => "Delete this client and all its contacts and invoices", :confirm => "Are you sure you want to delete this client forever? You will lose all your contacts for this client, and all your invoices you have created for this client. Continue with delete?" %></li>
</ul>
