<ul id="submenu">
  <li><%= link_to 'Account', { :controller => 'account', :action => 'index' }, :title => 'Your account details' %></li>
  <li><%= link_to 'People', { :controller => 'people', :action => 'index' }, :title => 'View people attached to my company' %></li>
</ul>
