To view, <strong>print</strong>, or to see a history of past invoices or quotes, please click on your summary link below.<br/>
<%= link_to "Summary page", @summary_url, :title => "Click to see your summary page with #{@app_config["app_name"]}" %>
