<script type="text/javascript">
//<![CDATA[
  <%= render :partial => "documents/edit_line_item" %>

  <% document.line_items.each do |il| -%>
    populateLine(<%= il.line_item_type_id %>, <%= il.quantity %>, <%= il.price %>, "<%= il.description %>");
  <% end -%>

  recalc();

  <% if document.terms.length == 0 -%>
    Element.show('specific_date')
  <% end -%>
//]]>
</script>
