<table class="invoice_table" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th class="type">Type</th>
      <th class="quantity">Quantity</th>
      <th class="description">Description</th>
      <th class="price">Price</th>
      <th class="total">Total</th>
    </tr>
  </thead>
	<tbody>
		<tr><td colspan="5"></td></tr>
	</tbody>
</table>
