<ul id="submenu">
  <li><%= link_to 'Default preferences', { :action => 'index' }, :title => 'Your default settings' %></li>
  <li><%= link_to 'Invoice templates', { :action => 'templates' }, :title => 'Choose from a selection of template designs' %></li>
  <li><%= link_to 'Default invoice notes', { :action => 'invoicenotes' }, :title => 'Such as banking details to appear at the bottom of every invoice' %></li>
	<% if can_have_quotes? -%>
	  <li><%= link_to 'Default quote notes', { :action => 'quotenotes' }, :title => 'Such as banking details to appear at the bottom of every invoice' %></li>
	<% end %>
  <li><%= link_to 'Thank you message', { :action => 'thankyous' }, :title => 'Write your own default thank you messsage' %></li>
</ul>
