<li>
  <%= radio_button :preference, :document_template_id, template.id %> <%=h template.name %><br/>
  <%= image_tag "templates/#{template.preview_filename}", :size => "300x215", :alt => "preview", :title => template.name %>
</li>
