<h1>Paying Accounts</h1>

<%= render :partial => "search_form", :locals => { :search_path => paying_adm1n_accounts_path } %>
<%= render :partial => "accounts", :locals => { :accounts => @accounts } %>