<div id="sidebar">
</div>

<div id="content">

  <h2>Please contact us</h2>
  <div class="vcard">
    <p>You can contact <span class="fn org"><%= @app_config['app_name'] %></span> on the following email address:</p>
    <p><%= render :partial => "widgets/fluttervoice_email" %></p>
    <p>Or give us a call on <span class="tel">+27 21 448 2584</span> during office hours (9am-5pm GMT+2)</p>
  </div>
</div>
