<p><i>&copy;2006-2011 <%= link_to "These Lovely Days", "http://www.theselovelydays.co.za", :title => "Ruby on Rails Cape Town, South Africa" %></i> All rights reserved. <%= link_to "Contact us", { :controller => "contact", :action => "" }, :title => "Please email us if you need any help." %></p>
